*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5rem;
    /* align-items: center; */
}

section:nth-of-type(2){
    /* background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%); */
    background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
    /* height: 100vh; */
}

section:nth-of-type(2) h2{
    color: #fff;
}

section:nth-of-type(2) h3{
    color: #fff;
}

#btnRefesh:hover{
    background-color: #fff !important;
    color: #000 !important;
}

.medidor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: -webkit-border-radius: 8px;
    -moz-border-radius: 8px; border-radius: 8px;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 10px 10px 14px 1px rgba(0,0,0,0.12);
    -webkit-box-shadow: 10px 10px 14px 1px rgba(0,0,0,0.12);
    -moz-box-shadow: 10px 10px 14px 1px rgba(0,0,0,0.12);
}

.medidor h1{
    font-size: 6rem;
    background: -webkit-linear-gradient(#1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

canvas{
    margin-bottom: 2rem; 
    /* padding: 0.5rem; */
    background-color: rgba(255,255,255,0.8); 
    border-radius: -webkit-border-radius: 8px;
    -moz-border-radius: 8px; border-radius: 8px;
    box-shadow: 10px 10px 14px 1px rgba(0,0,0,0.12);
    -webkit-box-shadow: 10px 10px 14px 1px rgba(0,0,0,0.12);
    -moz-box-shadow: 10px 10px 14px 1px rgba(0,0,0,0.12);
}