.image-container{
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  height: 100vh;
}

.form-container{
  display: flex;
  justify-content: center;
}

.form-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.image-container img{
  width: 75%;
  height: 100vh;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 8px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}