{% extends 'base.html' %}
{% block contenido %}
<div class="container" style="padding-top: 5rem;">
    <div class="row">
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="action" value="{{ action }}">
            <h5 class="text-muted">Negocio</h5>    
            <div class="input-group mb-3">
                {{ form.nombre }}
                <div class="input-group-append">
                    <button class="btn btn-outline-success" id="btnNegocio" type="submit">Agregar</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    const Toast = Swal.mixin({
        toast: true,
        position: 'top',
        showConfirmButton: false,
        timer: 3000,
    });

    $('form').on('submit', function(e) {
        e.preventDefault();
        var parameters = $(this).serializeArray();
        $.ajax({
            url: window.location.pathname,
            method: 'POST',
            data: parameters,
            dataType: 'JSON'
        }).done(function (data) { 
            if(!data.hasOwnProperty('error')){
                Toast.fire({
					icon: 'success',
					title: 'Guardado.'
				});
                return false
            }
            Toast.fire({
				icon: 'warning',
				title: 'Ya existe.'
			});
        }).fail(function (data){
            alert('error')
        });
        $('form').trigger("reset");
    });
</script>
{% endblock %}

